body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  h1 {
    font-family: 'Font2', cursive;
  }
  .theme{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
 
  

/* Home */

.all{
    background-color:white;
}
ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  

  li a {
    font-size: 16px;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(33, 78, 96);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: rgb(33, 78, 96); 
    background-color: transparent;
    padding: 8px 15px; 
    border-radius: 5px;
    transition: color 0.3s, background-color 0.3s;
  }
  
  nav a:hover {
    color: darkred;
    background-color: skyblue;
  }
  
  
.navigation {
    margin-left: 60px;
    margin-right: 60px;
  }

.navigation li {
    margin-right: 70px;

  }
  #logo{
    width: 15%;
    margin-right: 400px;
  }



  



  .home{
    color: rgb(33, 78, 96);
    font-size: 30px;
    display: flex;
  }
  .heading{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 50px;
  }
  .theme img{
    margin-top: 30px;
    width: 45%;
  }
  .theme{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
  }
  .flex{
    display: flex;
    justify-content: space-around;
  }
  .items{
    text-align: center;
    color: rgb(33, 78, 96);
  }
  .items img{
    width: 200px;
  }
  #almirah{
    margin-bottom: -300px;
  }
  .statement{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(33, 78, 96);
  }

/* product */

  .grid-content{
    display: grid;
     grid-template-columns: 1fr 1fr 1fr; 
  }
  .sheba{
    color: black;
    text-align: center;
  }
  .items{
    text-align: center;
    color: rgb(33, 78, 96);
  }
  .items img{
    width: 200px;
  }


  /* footer */

body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
  }
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contact-email,
  .social-icons {
    text-align: center;
  }
  .contact-email a {
    color: #fff;
  }
  .social-icons a {
    display: inline-block;
    margin-right: 15px;
  }
  .social-icons img {
    width: 30px; 
    height: auto;
  }
  .social-icons a:hover img {
    opacity: 0.8;
  }
  

/* CONTACT US */
.contact{
    color: rgb(33, 78, 96);
    text-align: center;
    margin: 5%;
    background-color: aquamarine;
  }
  .individualContact{
    display: flex;
    justify-content:space-around;
  }
  .phone{
    color: black;
    font-size: 25px;
    display: flex;
  }
  .email{
    color: black;
    font-size: 25px;
    display: flex;
    
  }
  .address{
    color: black;
    font-size: 25px;
    display: flex;
  }



  .message{
    display: flex;
    justify-content:space-around;
  }
  .message img{
    width: 30%; 
  }
  #subjectBox{
    margin-left: 30px;
  }
  #phoneBox{
    margin-left: 41px;
  }
  #emailBox{
    margin-left: 38px;
  }
  #messageBox{
    margin-left: 19px;
  }
  .button{
    color: red;
    text-align: center;
    align-items: center;
  }
  .blue {
    color: blue;
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
  }